:root{
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

.titulo{
    text-align: center;
    font-size: 5rem;
    margin: 5rem auto;
}

.paises{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.imgPais{
    width: 2.5rem;
}

.mainIndex{
    margin: 3.5rem 10rem;
}

.textoIndex{
    text-align: center;
    font-size: 2.4rem;
}

.ingresoApp{
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

.botonTexto{
    text-align: center;
}

.ingresarCuenta, .crearCuenta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: auto 8rem;
}

.botonIndex{
    padding: 1rem;
    border-radius: 1rem;
    border: 0.2rem solid darkslategrey;
    font-weight: bold;
}

.footer{
    margin-top: 10rem;
    margin-left: 1rem;
}

.derechos{
    text-align: center;
}

@media only screen and (max-width: 390px){
    .mainIndex{
        margin: auto;
    }
    .textoIndex{
        margin: 2rem;
    }
    .ingresoApp{
        flex-direction: column;
    }
    .ingresarCuenta, .crearCuenta{
        margin: auto;
    }
    .ingresarCuenta{
        margin-top: 4rem;
    }
}

@media only screen and (max-width: 280px){
    .mainIndex{
        margin: auto;
    }
    .textoIndex{
        margin: 2rem;
    }
}

@media only screen and (max-width: 414px){
    .mainIndex{
        margin: auto;
    }
    .textoIndex{
        margin: 2rem;
    }
}